*{
    margin: 0;
    padding: 0;
}
body{
    background-color: ghostwhite;   
}
.box{
    height: 800px;
    width: 800px;
    margin: 50px auto 0;
    position: relative;
}
.box1{
    width: 400px;
    height: 800px;
    float: left;
    overflow: hidden;
}
.banner{
    width: 400px;
    height: 700px;
    background: url("pics/iphone.png") no-repeat center;
    margin: -70px auto 0;
    overflow: hidden;
    position: relative;
}
.banner-slide{
    width: 240px;
    height: 427px;
    background-repeat: no-repeat;
    margin-left: 79px;
    margin-top: 138px;
    position: absolute;
    display: none;
}
.slide1{
    background-image: url("pics/p1.jpg");
}
.slide2{
    background-image: url("pics/p2.jpg");
}
.slide3{
    background-image: url("pics/p3.jpg");
}
.slide4{
    background-image: url("pics/p4.jpg");
}
.slide-active{
    display: block;
}
.box2{
    width: 400px;
    height: 800px;
    float: left;
    margin-top: 20px;
}
.table1{
    width: 350px;
    height: 400px;
    background: white;
    border: 1px silver solid;
}
.table2{
    width: 350px;
    height: 100px;
    background-color: white;
    border:  1px silver solid;
    margin-top: 10px;
    text-align: center;
}
.table2 span{
    background-color: white;
    line-height: 100px;
}
.table2 a{
    color: navy;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
}
.table1 .logo{
    width: 200px;
    height: 70px;
    background: url("pics/logo3.png") no-repeat;
    margin: 20px auto 0;
}
.in1 input,.in2 input,.in4 input{
    background-color: ghostwhite;
    width: 250px;
    height: 30px;
    border: 1px solid silver;
    font-size: 12px;
}
.in1,.in2,.in3{
    background-color: white;
    width: 250px;
    height: 40px;
    margin: 0 auto 15px;
}
.in1,.in2,.in4 span{
    background-color: white;
    font-size: 12px;
    color: firebrick;
}
.in4{
    background-color: white;
    width: 250px;
    height: 60px;
    margin: 0 auto 15px;
}
.pwd-strength{
    background-color: white;
}
.font{
    font-size: 12px;
    background-color: white;
}
.strength-level0{
    height: 6px;
    width: 0px;
    border: 1px silver solid;
}
.strength-level1{
    background-color: #df5000;
    height: 6px;
    width: 40px;
    border: 1px silver solid;
    padding: 2px;
}
.strength-level2{
    background-color: orange;
    height: 6px;
    width: 80px;
    border: 1px silver solid;
    padding: 2px;
}
.strength-level3{
    background-color: limegreen;
    height: 6px;
    width: 120px;
    border: 1px silver solid;
    padding: 2px;
}
button{
    width:250px;
    height: 30px;
    margin-left: 50px;
    border-radius: 5px;
    background-color: dodgerblue;
    border-style: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
}