<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.qd.adminbackend.dao.LogRecordDao">

    <resultMap id="BaseResultMap" type="edu.qd.adminbackend.domain.LogRecord">
        <result column="lr_admin" property="admin" />
        <result column="lr_text" property="text" />
        <result column="lr_creatime" property="creatime" />
    </resultMap>

    <insert id="insertOne" parameterType="edu.qd.adminbackend.domain.LogRecord">
        INSERT INTO `log_record` VALUES (#{admin},#{text},#{creatime})
    </insert>

    <select id="selectByDTO" parameterType="map" resultMap="BaseResultMap">
        SELECT * FROM `log_record`
        <if test="domain != null">
            <trim prefix="WHERE" prefixOverrides="AND">
                <if test="domain.admin != null and domain.admin.length() > 0">
                    AND `lr_admin`=#{domain.admin}
                </if>
                <if test="domain.creatime != null">
                    AND `lr_creatime` > #{creatime}
                </if>
            </trim>
        </if>
        ORDER BY `lr_creatime` DESC
        <if test="length != -1">
            LIMIT #{offset},#{length}
        </if>
    </select>

</mapper>