<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.qd.adminbackend.dao.PaymentDao">

    <resultMap id="BaseResultMap" type="edu.qd.adminbackend.domain.Payment">
        <result column="pay_code" property="code" />
        <result column="pay_user" property="user" />
        <result column="pay_creatime" property="creatime" />
        <result column="pay_status" property="status" />
        <result column="pay_wechat" property="wechat" />
    </resultMap>

    <insert id="insertOne" parameterType="edu.qd.adminbackend.domain.Payment">
        INSERT INTO `payment` VALUES (#{code},#{user},#{creatime},#{status},#{wechat})
    </insert>

    <select id="selectByDTO" parameterType="map" resultMap="BaseResultMap">
        SELECT * FROM `payment`
        <if test="domain != null">
            <trim prefix="WHERE" prefixOverrides="AND">
                <if test="domain.code != null and domain.code.length() > 0">
                    AND `pay_code`=#{domain.code}
                </if>
                <if test="domain.user != null and domain.user > 0">
                    AND `pay_user`=#{domain.user}
                </if>
                <if test="domain.status != null">
                    AND `pay_status`=#{domain.status}
                </if>
                <if test="domain.wechat != null and domain.wechat.length() > 0">
                    AND `pay_wechat`=#{domain.wechat}
                </if>
                <if test="domain.creatime != null">
                    AND `pay_creatime` > #{domain.creatime}
                </if>
            </trim>
        </if>
        ORDER BY `pay_creatime`
        <if test="offset != 0 and length != -1">
            LIMIT #{offset},#{length}
        </if>
    </select>

</mapper>