<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.qd.adminbackend.dao.SensitiveWordDao">

    <resultMap id="BaseResultMap" type="edu.qd.adminbackend.domain.SensitiveWord">
        <result column="sw_section" property="section" />
        <result column="sw_word" property="word" />
        <result column="sw_replace" property="replace" />
    </resultMap>

    <insert id="insertOne" parameterType="edu.qd.adminbackend.domain.SensitiveWord">
        INSERT INTO `sensitive_word` VALUES (#{section},#{word},#{replace})
    </insert>

    <delete id="deleteByDTO" parameterType="edu.qd.adminbackend.domain.SensitiveWord">
        DELETE FROM `sensitive_word` WHERE `sw_section`=#{section} AND `sw_word`=#{word}
    </delete>

    <select id="selectByDTO" parameterType="map" resultMap="BaseResultMap">
        SELECT * FROM `sensitive_word`
        <if test="domain != null">
            <trim prefix="WHERE" prefixOverrides="AND">
                <if test="domain.section != null and domain.section > 0">
                    AND `sw_section`=#{domain.section}
                </if>
                <if test="domain.word != null and domain.word.length() > 0">
                    AND `sw_word`=#{domain.word}
                </if>
            </trim>
        </if>
        <if test="offset != 0 and length != -1">
            LIMIT #{offset},#{length}
        </if>
    </select>

</mapper>