<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.qd.adminbackend.dao.UserDao">

    <resultMap id="BaseResultMap" type="edu.qd.adminbackend.domain.User">
        <result column="user_autoid" property="autoid" />
        <result column="user_id" property="id" />
        <result column="user_email" property="email" />
        <result column="user_status" property="status" />
        <result column="user_pwd" property="pwd" />
        <result column="user_gins" property="gins" />
    </resultMap>

    <delete id="deleteById" parameterType="string">
        DELETE FROM `user` WHERE `user_id`=#{id}
    </delete>

    <insert id="insertOne" parameterType="edu.qd.adminbackend.domain.User" useGeneratedKeys="true" keyProperty="autoid">
        INSERT INTO `user` VALUES (#{autoid},#{id},#{email},#{status},#{pwd},#{gins})
    </insert>

    <update id="updateOne" parameterType="edu.qd.adminbackend.domain.User">
        UPDATE `user`
        <set>
            <if test="email != null and email.length() > 0">
                `user_email`=#{email},
            </if>
            <if test="pwd != null and pwd.length() > 0">
                `user_pwd`=#{pwd},
            </if>
            `user_status`=#{status},
            `user_gins`=#{gins}
        </set>
        WHERE `user_autoid`=#{autoid}
    </update>

    <delete id="deleteByDTO" parameterType="edu.qd.adminbackend.domain.User">
        DELETE FROM `user` WHERE `user_autoid`=#{autoid}
    </delete>

    <select id="selectByDTO" parameterType="map" resultMap="BaseResultMap">
        SELECT * FROM `user`
        <if test="domain != null">
            <trim prefix="WHERE" prefixOverrides="AND">
                <if test="domain.id != null and domain.id.length() > 0">
                    AND `user_id`=#{domain.id}
                </if>
                <if test="domain.autoid != null and domain.autoid > 0">
                    AND `user_autoid`=#{domain.autoid}
                </if>
                <if test="domain.email != null and domain.email.length() > 0">
                    AND `user_email`=#{domain.email}
                </if>
                <if test="domain.status != null and domain.status > 0">
                    AND `user_status`=#{domain.status}
                </if>
            </trim>
        </if>
        ORDER BY `user_autoid`
        <if test="length != -1">
            LIMIT #{offset},#{length}
        </if>
    </select>

</mapper>