<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.qd.adminbackend.dao.UserDao">

    <resultMap id="BaseResultMap" type="edu.qd.adminbackend.domain.User">
        <result column="user_autoid" property="autoid" />
        <result column="user_id" property="id" />
        <result column="user_email" property="email" />
        <result column="user_status" property="status" />
        <result column="user_pwd" property="pwd" />
        <result column="user_gins" property="gins" />
    </resultMap>

    <insert id="insertOne" parameterType="edu.qd.adminbackend.domain.User">
        INSERT INTO `user` VALUES (#{autoid},#{id},#{email},#{status},#{pwd},#{gins})
    </insert>

    <update id="updateOne" parameterType="edu.qd.adminbackend.domain.Admin">
        UPDATE `admin`
        <set>
            <if test="pwd != null and pwd.length() > 0">
                `admin_pwd`=#{pwd},
            </if>
            <if test="role != null and role > 0">
                `admin_role`=#{role},
            </if>
        </set>
        WHERE `admin_loginid`=#{loginId}
    </update>

    <delete id="deleteByDTO" parameterType="edu.qd.adminbackend.domain.Admin">
        DELETE FROM `admin` WHERE `admin_loginid`=#{loginId}
    </delete>

    <select id="selectByDTO" parameterType="map" resultMap="BaseResultMap">
        SELECT `admin_loginid`,`admin_role` FROM `admin`
        <if test="domain != null">
            <trim prefix="WHERE" prefixOverrides="AND">
                <if test="domain.loginId != null and domain.loginId.length() > 0">
                    AND `admin_loginid`=#{domain.loginId}
                </if>
                <if test="domain.role != null and domain.role > 0">
                    AND `admin_role`=#{domain.role}
                </if>
            </trim>
        </if>
        ORDER BY `admin_role`
        <if test="offset != 0 and length != -1">
            LIMIT #{offset},#{length}
        </if>
    </select>

    <select id="getPassword" parameterType="string" resultType="string">
        SELECT `admin_pwd` FROM `admin` WHERE `admin_loginid`=#{loginId}
    </select>

</mapper>