<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.qd.userbackend.dao.ComplaintDao">

    <resultMap id="BaseResultMap" type="edu.qd.userbackend.domain.Complaint">
        <result column="com_user" property="user" />
        <result column="com_post" property="post" />
        <result column="com_cmtid" property="cmtid" />
        <result column="com_msg" property="msg" />
        <result column="com_creatime" property="creatime" />
    </resultMap>

    <insert id="insertOne" parameterType="edu.qd.userbackend.domain.Complaint">
        INSERT INTO
            `complaint`
        VALUES
            (#{user},#{post},#{cmtid},#{msg},#{creatime})
    </insert>

</mapper>