<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.qd.userbackend.dao.ScoreDao">

    <resultMap id="BaseResultMap" type="edu.qd.userbackend.domain.Score">
        <result column="sco_user" property="user" />
        <result column="sco_post" property="post" />
        <result column="sco_score" property="score" />
    </resultMap>

    <insert id="insertOne" parameterType="edu.qd.userbackend.domain.Score">
        INSERT INTO
            `score`
        VALUES
            (#{user},#{post},#{score})
    </insert>

    <select id="selectByDTO" parameterType="map" resultMap="BaseResultMap">
        SELECT * FROM `score` WHERE `sco_user`=#{domain.user}
    </select>

    <select id="getScoreSum" parameterType="long" resultType="int">
        SELECT SUM(`sco_score`) FROM `score`
        WHERE `sco_post`=#{post}
    </select>

    <select id="getScorers" parameterType="long" resultType="int">
        SELECT COUNT(`sco_user`) FROM `score`
        WHERE `sco_post`=#{post}
    </select>

    <select id="select" parameterType="map" resultMap="BaseResultMap">
        SELECT * from `score` WHERE `sco_user`=#{user} AND `sco_post`=#{post}
    </select>

    <delete id="deleteByDTO" parameterType="edu.qd.userbackend.domain.Score">
        DELETE FROM `score` WHERE `sco_user`=#{user} AND `sco_post`=#{post}
    </delete>

</mapper>