<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.qd.userbackend.dao.TagDao">

    <resultMap id="BaseResultMap" type="edu.qd.userbackend.domain.Tag">
        <result column="tag_name" property="name" />
        <result column="tag_post" property="post" />
    </resultMap>

    <resultMap id="BaseResultMap2" type="edu.qd.userbackend.vo.TagResponse">
        <result column="tag_name" property="name" />
        <result column="times" property="times" />
    </resultMap>

    <insert id="insertOne" parameterType="edu.qd.userbackend.domain.Tag">
        INSERT INTO
            `tag`
        VALUES
            (#{name},#{post})
    </insert>

    <delete id="deleteByDTO" parameterType="edu.qd.userbackend.domain.Tag">
        DELETE FROM
            `tag`
        WHERE `tag_name`=#{name} AND `tag_post`=#{post}
    </delete>

    <select id="selectLikeWord" resultMap="BaseResultMap2">
        SELECT `tag_name`, COUNT(`tag_post`) as `times` FROM `tag`
        WHERE `tag_name` LIKE CONCAT(#{word},'%') GROUP BY `tag_name`
    </select>

    <select id="selectByDTO" resultMap="BaseResultMap">
        SELECT * FROM `tag` WHERE `tag_name`=#{domain.name}
    </select>

</mapper>