<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.qd.userbackend.dao.UserDetailDao">

    <resultMap id="BaseResultMap" type="edu.qd.userbackend.domain.UserDetail">
        <result column="ud_user" property="user" />
        <result column="ud_avatar" property="avatar" />
        <result column="ud_brief" property="brief" />
        <result column="ud_website" property="website" />
        <result column="ud_phone" property="phone" />
        <result column="ud_gender" property="gender" />
        <result column="ud_wechat" property="wechat" />
    </resultMap>

    <insert id="insertOne" parameterType="edu.qd.userbackend.domain.UserDetail">
        INSERT INTO
            `user_detail`
        VALUES
            (#{user},#{avatar},#{brief},#{website},#{phone},#{gender},#{wechat})
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM `user_detail`
        WHERE `ud_user`=#{id}
    </select>

    <update id="updateOne" parameterType="edu.qd.userbackend.domain.UserDetail">
        UPDATE `user_detail`
        <set>
            <if test="avatar != null and avatar.length() > 0">
                `ud_avatar`=#{avatar},
            </if>
            <if test="brief != null and brief.length() > 0">
                `ud_brief`=#{brief},
            </if>
            <if test="website != null and website.length() > 0">
                `ud_website`=#{website},
            </if>
            <if test="phone != null and phone.length() > 0">
                `ud_phone`=#{phone},
            </if>
            <if test="gender != null">
                `ud_gender`=#{gender},
            </if>
            <if test="wechat != null and wechat.length() > 0">
                `ud_wechat`=#{wechat},
            </if>
        </set>
        WHERE `ud_user`=#{user}
    </update>
</mapper>